<template>
  <div class="hello">
    <p>Este é um projeto feito com <a href="https://www.django-rest-framework.org/" target="_blank">Django Rest Framework</a> e <a href="https://vuejs.org/" target="_blank">VueJS</a>. <a href="https://gitlab.com/rg3915/am-challenge/" target="_blank">Veja no GitLab</a></p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
