<template>
  <b-navbar toggleable="md" type="light" variant="light">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand href="/">
      <img src="logo.png" alt="">
    </b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav>
        <b-nav-item class="pull-left" to="/">Home</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="mx-auto">
        <h1>Caixa Livre</h1>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
