<template>
  <div>
    <b-container>
      <b-row>
        <b-col>
          <h3>Confirmação de Compra {{ code }}</h3>
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Produto/Serviço</th>
                <th>Quantidade</th>
                <th>Preço unitário</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, i) in cartItems" :key="i">
                <td>{{ item.product.title }}</td>
                <td>{{ item.quantity }}</td>
                <td>R$ {{ (+item.price_sale) | formatPrice }}</td>
                <td>R$ {{ (item.price_sale * item.quantity) | formatPrice }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2"></td>
                <th>Total</th>
                <th>R$ {{ total | formatPrice }}</th>
              </tr>
            </tfoot>
          </table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import Vue from "vue"
import axios from 'axios';

Vue.filter("formatPrice", value => (value / 1).toFixed(2).replace('.', ',').toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."))

export default {
  name: 'Sale',
  data() {
    return {
      cartItems: [],
      code: '',
      total: 0,
      show: true,
    }
  },
  mounted() {
    axios.get('/sale/sales/report_sales_product_detail/?sale_pk=' + this.$route.params.pk)
      .then((res) => {
        this.cartItems = res.data.items;
        this.code = res.data.code;
        this.total = res.data.total;
      });
  },
  computed: {
    cartValue() {
      return this.cartItems.reduce((prev, curr) => {
        return prev + (curr.product.price * curr.quantity);
      }, 0).toFixed(2);
    }
  }
}
</script>