<template>
  <div>
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <b-button variant="success" to="/sale">Fazer uma compra</b-button>
  </div>
</template>
<script>
import HelloWorld from '../components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  },
  data() {
    return {}
  }
}
</script>