<template>
  <div>
    <b-container>
      <b-row>
        <b-col>
          <h3>Produtos</h3>
          <div class="text-left row">
            <div class="col-8" style="padding: 0 0.75rem; margin-bottom: 5px;">
              <div>Buscar pelo código de barras (id) ou descrição</div>
              <autocomplete :search="search" placeholder="Buscar" auto-select :get-result-value="getResultValue" @submit='productSubmit' ref='productAutocomplete'></autocomplete>
            </div>
            <div class="col-2">
              <div>Quantidade</div>
              <b-form-input id="id_quantity" type="number" min="0" step="0.01" v-model="currentProduct.quantity" style="height: calc(1.5em + 0.75rem + 14px);"></b-form-input>
            </div>
            <div class="col-2">
              <b-button id="btnAddProduct" @click="addProduct" :disabled="!currentProduct.product" style="margin-top: 1.5rem; height: calc(1.5em + 0.75rem + 14px);">Adicionar</b-button>
            </div>
          </div>
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Produto/Serviço</th>
                <th>Quantidade</th>
                <th>Preço unitário</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, i) in cartItems" :key="i">
                <td>{{ item.product.title }}</td>
                <td>{{ item.quantity }}</td>
                <td>R$ {{ (+item.product.price) | formatPrice }}</td>
                <td>R$ {{ (item.product.price * item.quantity) | formatPrice }}</td>
                <td>
                  <font-awesome-icon icon="trash" style="color: #f86c6b" @click="deleteProduct(item)" />
                </td>
              </tr>
            </tbody>
          </table>
        </b-col>
        <b-col sm="auto">
          <h3>Dados da venda</h3>
          <b-form class="text-left" v-if="show" @submit.prevent="submitForm">
            <b-form-group label="Escolha um vendedor" label-for="input-3">
              <b-form-select id="id_seller" v-model="form.seller" :options="sellers" value-field="id" text-field="name" required>
                <template v-slot:first>
                  <option :value="null">Selecione</option>
                </template>
              </b-form-select>
            </b-form-group>
            <b-form-group label="Escolha um cliente" label-for="input-3">
              <b-form-select id="id_customer" v-model="form.customer" :options="customers" value-field="id" text-field="name" required>
                <template v-slot:first>
                  <option :value="null">Selecione</option>
                </template>
              </b-form-select>
            </b-form-group>
            <div><b>Valor total da venda <span class="lead">R$ {{ cartValue | formatPrice }}</span></b></div>
            <div class="d-flex justify-content-between">
              <b-button type="button" variant="primary" @click="resetForm">Cancelar</b-button>
              <b-button type="submit" variant="success">Finalizar (F10)</b-button>
            </div>
          </b-form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import Vue from "vue"
import axios from 'axios';
import Swal from 'sweetalert2'

import VueToast from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-default.css';

Vue.use(VueToast);

Vue.filter("formatPrice", value => (value / 1).toFixed(2).replace('.', ',').toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."))

export default {
  name: 'Sale',
  data() {
    return {
      cartItems: [],
      form: {
        seller: null,
        customer: null,
      },
      sellers: [],
      customers: [],
      products: [],
      show: true,
      currentProduct: {
        quantity: 0,
        product: null,
      },
    }
  },
  mounted() {
    axios.get('/crm/customers/')
      .then((res) => {
        this.customers = res.data;
      });

    axios.get('/crm/sellers/')
      .then((res) => {
        this.sellers = res.data;
      });
    document.addEventListener('keydown', this.onKeyDown);
  },
  destroyed() {
    document.removeEventListener('keydown', this.onKeyDown);
  },
  computed: {
    cartValue() {
      return this.cartItems.reduce((prev, curr) => {
        return prev + (curr.product.price * curr.quantity);
      }, 0).toFixed(2);
    }
  },
  methods: {
    onKeyDown(e) {
      // F10
      if (e.keyCode == 121) {
        this.submitForm();
      }
    },
    submitForm() {
      if (!this.cartItems.length) {
        Swal.fire({
          title: 'Erro',
          text: 'Favor escolher um produto.',
          icon: 'error',
          confirmButtonText: 'Tentar novamente'
        })
        return
      }
      const cartItems = this.cartItems.map(item => {
        return {
          product: item.product.id,
          quantity: item.quantity,
          price_sale: item.product.price,
        };
      });

      const body = {
        items: cartItems,
        seller: this.form.seller,
        customer: this.form.customer,
      };

      axios.post('/sale/saleitems/add/', body)
        .then((res) => {
          console.log(res);
          const pk = res.data.pk
          Swal.fire({
            title: 'Sucesso',
            text: 'A venda foi cadastrada com sucesso!.',
            icon: 'success',
            confirmButtonText: 'Fechar'
          }).then((result) => {
            if (result.value) {
              this.$router.push('/cart-items/' + pk)
            }
          })
        }).catch((error) => {
          console.log(error);
          if (!error.response) {
            Swal.fire({
              title: 'Desculpe, tivemos um problema.',
              text: 'Não foi possível finalizar a venda.',
              icon: 'error',
              confirmButtonText: 'Tentar novamente'
            })
          }
        })
    },
    search(input) {
      if (input.length < 1) { return [] }

      return new Promise((resolve) => {
        axios.get('/product/products/?search=' + input)
          .then((res) => {
            if (!res.data.length) {
              this.$toast.open({
                message: "Item não localizado.",
                type: "error",
                duration: 5000,
                position: 'top-right',
                dismissible: true
              })
            }
            resolve(res.data);
          })
          .catch(() => {
            document.activeElement.blur();
            resolve([]);
            // O Swal tira o foco do input e coloca de novo,
            // gerando um loop da requisição.
            // O blur acima resolve o problema.
            // Se quiser tirar o blur, então tire também o Swal.
            Swal.fire({
              title: 'Desculpe, tivemos um problema.',
              text: 'Ocorreu um erro, tente novamente mais tarde.',
              icon: 'error',
            })
          })
      });
    },
    productSubmit(result) {
      this.currentProduct = {
        product: result,
        quantity: 1,
      };
    },
    getResultValue(result) {
      return result.title;
    },
    addProduct() {
      if (this.currentProduct.quantity < 0) {
        Swal.fire({
          title: 'Erro',
          text: 'Quantidade não pode ser menor que zero.',
          icon: 'error',
          confirmButtonText: 'Tentar novamente'
        })
        return;
      }

      this.cartItems.push(this.currentProduct);
      this.currentProduct = {
        product: null,
        quantity: 0,
      };
      this.$refs.productAutocomplete.value = '';
    },
    deleteProduct(item) {
      Swal.fire({
        title: 'Deletar item',
        text: 'Deseja realmente apagar esse item?',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {
          var idx = this.cartItems.indexOf(item)
          this.cartItems.splice(idx, 1)
        }
      })
    },
    resetForm() {
      this.form = {
        seller: null,
        customer: null,
      };

      this.cartItems = [];
    },
  }
}
</script>